<div class="contenedor-body">
    <h1>El Club de los Mutantes</h1>
  
    <div class="redes">
      <a href="https://www.youtube.com/@ElclubdelosmutantesAr" target="_blank"><img src="assets\img\redes-yt.png" /></a>
      <a href="https://www.instagram.com/elcludelosmutantes/" target="_blank"><img src="assets\img\redes-instagram.png" /></a>
      <a href="https://open.spotify.com/intl-es/artist/31FsapdZvXHyQpytMvXMeK" target="_blank"><img src="assets\img\redes-spf.png" /></a>
    </div>
  </div>
  